header{
    background-color: #a343cfda;
    color: aliceblue;
    display: flex;
    padding: 25px;
}
nav{
    justify-content: space-between;
    margin-top: 20px;
    
}

h1{
    font-size: 2.2em;
    text-shadow: 2px 2px 2px #5e5a5ade;
}
a{
    text-decoration: none;
}
li{
    margin-left: 70px;
    color: aliceblue;
    font-size: 18px;
}

li:hover{
    color: rgb(0, 255, 34);
    font-size: 24px;
}

ul{
    display: flex;
   margin-left: 150px;
   justify-content: space-around;
   list-style: none;
  
   
}

#CASSINO{
    margin-left: 24px;
    display: flex;
}

img{
    width: 190px;
    height: 130px;
    margin: auto;
    
}

div{
    border: 2px black solid;
    margin-left: 35px;
    margin-top: 8%;
    height: 225px;
    border-radius: 4px;
    padding: 20px;
    background-color: rgba(197, 27, 231, 0.473);
}

.Jogos{
    background-color: rgb(17, 236, 17);
    /* margin-top: 80px */
    text-align: center;
    margin-left: 24%;
    padding: 5px;
    width: 110px;
    border-radius: 10px;
    border: none;

}

button:hover{
    font-size: 18px;
}

body{
    background-color: #892be2a2;
}

footer{
    background-color: rgb(140, 0, 255);
    position: absolute;
    bottom: 0;
    width: 99vw;
    padding: 8px;
    margin-left: -10px;
}

p{
    text-align: center;
}